<header>
    <div>
        <nav>
            <div>
                <a href="">logo1
                    <svg>
                        <use href=""></use>
                    </svg>
                </a>
                <a href="">logo2
                    <svg>
                        <use href=""></use>
                    </svg>
                </a>
            </div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Technologies</a></li>
                <li><a href="">How to</a></li>
            </ul>
            <div>
                <button>Contact us</button>
                <button>Join Hydra</button>
            </div>
        </nav>
    </div>
</header>